PORT=3000
API_PREFIX=api
APP_HOST_PORT=3000
POSTGRES_HOST_PORT=5433
REDIS_HOST_PORT=6379
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/gc_queue
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
QR_TTL_MINUTES=30

SPRING_QUEUE_BASE_URL=http://spring-queue:8080
ZENOSS_BASE_URL=http://zenoss:8080
