PORT=3000
API_PREFIX=api
APP_HOST_PORT=3000
POSTGRES_HOST_PORT=5433
REDIS_HOST_PORT=6379
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/gc_queue
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

AUTH_SERVICE_BASE_URL=http://10.11.13.61
AUTH_SERVICE_TIMEOUT_MS=5000
QR_TTL_MINUTES=30

EQUEUE_CORE_URL=http://10.11.13.50:18080/api
EQUEUE_CORE_INTERNAL_TOKEN=replace-with-spring-app-internal-token
EQUEUE_CORE_TIMEOUT_MS=10000
EQUEUE_TV_CACHE_TTL_MS=2000

SPRING_QUEUE_BASE_URL=http://10.11.13.50:18080/api
ZENOSS_BASE_URL=http://zenoss:8080
